:root {
  --prime-color: 40, 150, 140;
  --prime-bcg: 124, 190, 180;
  /* --prime-bcg: 106, 239, 240; */
  --unavailable-color: 150, 152, 150;
  --light-grey: rgba(var(--grey, 0.5));
  --grey: 68, 68, 68;
  --dropdown-border: #ececec;
}

.datepicker-container {
  width: 100%;
  position: relative;
  margin: 5px auto;
  padding: 5px 3.5%;
  font-family: "almoni-dl";
  border: 1.3px solid rgba(158, 151, 164, 0.27);
  max-width: max-content;
  max-height: max-content;
  box-shadow: 0 0 2px 0px #14141466;
}

.datepicker-headline {
  display: inline-block;
}

.datepicker-headline {
  font-weight: 700;
  font-size: 1.2rem;
  color: rgb(var(--grey));
  padding-bottom: 3px;
}

/*==============================*/
/* CLOSE BUTTON */
/*==============================*/
.datepicker-container .close {
  display: inline-block;
  left: 0;
  margin-top: 7px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  color: rgba(var(--grey, 0.3));
}
.datepicker-container .close:hover {
  opacity: 1;
}
.datepicker-container .close:before,
.datepicker-container .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 0.9rem;
  width: 1.5px;
  background-color: #333;
}
.datepicker-container .close:before {
  transform: rotate(45deg);
}
.datepicker-container .close:after {
  transform: rotate(-45deg);
}

/*==============================*/
/* SELECT MONTS */
/*==============================*/
.months-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.months-dropdown {
  padding: 5px 0;
  justify-content: center;
  display: flex;
  cursor: pointer;
  position: relative;
  top: 0;
  margin: 0;
  min-width: max-content;
}
.months-dropdown span {
  right: -47%;
  position: relative;
}
.months-dropdown,
.months-dropdown span {
  animation: fadeIn 0.35s;
}
.months-dropdown span::before,
.months-dropdown span::after {
  width: 100%;
  height: 1px;
  display: inline-block;
  position: absolute;
  content: " ";
  background-color: var(--dropdown-border);
  margin-top: 1.3rem;
}
.months-dropdown ul.months-select {
  z-index: 10;
  list-style: none;
  text-align: right;
  margin: 0;
  position: absolute;
  border-top: 2px solid var(--dropdown-border);
  top: 25px;
  min-width: 150px;
  max-width: 150px;
  background-color: #fff;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.22);
  max-height: 15em;
  overflow-y: auto;
  overflow-x: hidden;
  animation: fadeIn 0.5s ease-out;
}

.months-dropdown li.month {
  position: relative;
  line-height: 1.5;
  right: -50%;
  padding-right: 20%;
}
.months-dropdown li.month:hover {
  color: rgb(var(--prime-color));
  background-color: rgba(var(--prime-color), 0.08);
  filter: brightness(85%);
  min-width: 150%;
}
.show {
  display: inline-block;
}

.hide {
  visibility: hidden;
}

/*================*/
/* SELECT MONTHS - ARROWS AND SCROLL */
/*================*/
@import "./arrows-and-scroll.css";
.datepicker-container .arrows {
  display: inline-block;
  width: 100%;
}
.datepicker-container i.arrow.left,
.datepicker-container i.arrow.right {
  top: -1.6em;
}
.datepicker-container i.arrow.left {
  float: left;
  position: relative;
}

.datepicker-container i.arrow.right {
  float: right;
  position: relative;
}

.datepicker-container i.arrow.left:hover,
.datepicker-container i.arrow.right:hover {
  transition: transform 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
}
.datepicker-container i.arrow.left:hover {
  border: 1px solid rgb(var(--prime-color), 0.5);
  transform: translate3d(25%, 5px, 0);
}
.datepicker-container i.arrow.right:hover {
  border: 1px solid rgb(var(--prime-color), 0.5);
  transform: translate3d(-25%, 5px, 0) rotate(-270deg);
}
.datepicker-container i.arrow.left::after,
.datepicker-container i.arrow.right::after {
  height: 35px;
  width: 35px;
  margin-top: -35px;
  border: 1px solid var(--dropdown-border);
  position: absolute;
  content: " ";
  cursor: pointer;
  overflow: hidden;
}
.datepicker-container i.arrow.left:hover::after,
.datepicker-container i.arrow.right:hover::after {
  border-left: 1px solid rgb(var(--prime-color));
  border-bottom: 1px solid rgb(var(--prime-color));
}
.datepicker-container i.arrow.left::after {
  transform: translate(18px, 18px) rotate(45deg);
}
.datepicker-container i.arrow.right::after {
  transform: translate(18px, 18px) rotate(135deg);
}

/* dorpdown arrow */
.months-container i.dorpdown-arrow {
  left: -188%;
  top: -0.5rem;
  position: relative;
}
.months-container i.dorpdown-arrow.down {
  top: 0.75rem;
  transition: fadeIn 0.3s ease-in-out;
}

/*disabeld*/
.disabeld,
.disabeld::after {
  opacity: 0.4;
  transform: none;
  transition: none;
}
.disabeld:hover,
.disabeld:hover:after {
  cursor: not-allowed !important;
  border: none !important;
}
/*==============================*/
/* CALENDAR UI */
/*==============================*/
.calendar {
  justify-content: center;
  display: flex;
  align-items: center;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, minmax(25px, 1fr));
  padding: 0.5rem;
  gap: 0.5rem;
  transition: all 0.5s;
  animation: fadeIn 0.3s ease-in-out;
}

.day {
  color: rgb(var(--grey));
  padding: 0.5rem 0 0.8rem 0;
}

.date-number {
  height: 1.6rem;
  width: 1.6rem;
  line-height: 1.6rem;
  border-radius: 0.8rem;
  animation: fadeIn 0.38s ease-in-out;
}
.date-number.available {
  color: rgb(var(--prime-color));
  background-color: rgba(var(--prime-bcg), 0.3);
  cursor: pointer;
}
.date-number.available:hover,
.date-number.selected {
  background-color: rgb(var(--prime-color));
  color: #fff;
}
.date-number.unavailable {
  color: rgba(var(--unavailable-color), 0.4);
  /* cursor: not-allowed; */
}
.date-number.empty {
  background-color: transparent;
}

/*==============================*/
/* DATE PICKER GUIDE */
/*==============================*/
.date-picker.guide-container {
  padding-right: 0.6rem;
  padding-top: 1.5em;
}
.date-picker .guide {
  --font-size: 0.67rem;
  font-size: var(--font-size);
  display: flex;
}
.date-picker .guide span {
  padding-right: 0.5rem;
}
.date-picker .guide i.date-number.available,
.date-picker i.guide-circle {
  height: calc(var(--font-size) / 3 * 2);
  width: calc(var(--font-size) / 3 * 2);
  content: " ";
  border-radius: 10px;
  margin-top: 0.125rem;
}

.guide-circle.charter {
  background-color: pink;
}
/*==============================*/
/* ANIMATIONS */
/*==============================*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
